@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap');
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
}

.divider {
    width: 56px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
    margin: 26px auto 0 auto;
    &_left {
        margin: 26px 0 0 0;
    }
    &_white {
        background-color: #fff;
    }
}



@import 'blocks/header';
@import 'blocks/titltes';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/leading';
@import 'blocks/mobile';
@import 'blocks/feedback';

