.btn {
    transition: all .6s;
    padding: 0 39px;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-weight: 700;
    color: $blue;
    border: 1.4px solid $blue;
    font-size: 18px;
    line-height: 56px;
    background: #fff;
    &:hover {
        background: $blue;
        color: #fff;
    }
    &_fill {
        background: $blue;
        color: #fff;
        &:hover {
            background:#fff;
            color: $blue;
        }
    }
    
    &-prev,
    &-next {
        margin-top: 44px;
        transition: all .3s;
        left: 415px;
        border: none;
        background-color: #fff;
        &:disabled {
            svg {
                path{
                    fill: hsl(215, 85%, 73%);
                }  
            }
            &:hover {
                transform: scale(1);
            }
        }
        &:hover {
            transform: scale(1.2);
        }
        
    }
    &-next {
        left: 720px;
    }
}

