.btn {
    transition: all .6s;
    padding: 0 39px;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-weight: 700;
    color: $blue;
    border: 1.4px solid $blue;
    font-size: 18px;
    line-height: 56px;
    background: #fff;
    &:hover {
        background: $blue;
        color: #fff;
    }
    &_fill {
        background: $blue;
        color: #fff;
        &:hover {
            background:#fff;
            color: $blue;
        }
    }
}