.promo {
    // background: $background-color;
    position: relative;
    padding-top: 186px;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 445px;
        grid-template-rows: repeat(3, auto);
        z-index: 1;
    }
    &__descr {
        margin-top: 25px;
    }
    &__btn {
        margin-top: 40px;
    }
    &__bg {
        img {
            position: absolute;
            left: 554px;
            top: -106px;
        }

    }
    &__dots {
        position: absolute;
        top: -123px;
        left: -240px;
    }
}